{{#each blogs as |blog|}}
<div class="card mb-4" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{blog.title}}</h5>
    <p class="card-text">{{format_date blog.date_created}}</p>
    <p>
      {{truncate blog.content 80}}
    </p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div>
{{/each}}