    <main>
        <form id="login-form">
            <label>Username</label>
            <input type="text" name="username" id="username">
            <label>Password</label>
            <input type="text" name="password" id="password">
            <button>Login</button>
        </form>

    </main>


    <script>
        document.getElementById("login-form").addEventListener("submit", function(event) {
            event.preventDefault();


            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;

            fetch("/login", {
                method: "POST",
                headers: {
                    'Content-Type': "application/json"
                },
                body: JSON.stringify({
                    username,
                    password
                })
            })
            .then(() => {
                window.location.href = "/profile"
            })
        })

       

    </script>